<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Keycloak Project</title>
</head>
<body>
<h1>UE01</h1>

<button>
    <a href="ue01/ecrire"> Ecrire </a>
</button>


<button>
    <a href="ue01/valider"> Valider </a>
</button>

</body>
</html>